*{
	list-style: none;
	color: gray;
}

/*-------------------------------------------------------------------------通用样式*/
.a{
	text-decoration: none;
}
.a:hover{
	text-decoration: underline;
}
.FontColor:hover{
	color: orange;
}
.pull_down_left{
	background: url(../img/pull_down.png) no-repeat 85px 15px;
}
.pull_down_left:hover{
	background:gainsboro url(../img/pull_down.png) no-repeat 85px 15px !important;
}
.pull_down_right{
	background:url(../img/pull_down.png) no-repeat 58px 15px ;
}
.pull_down_right:hover{
	background:gainsboro url(../img/pull_down.png) no-repeat 58px 15px !important;
}
.pull_down_ul{
	text-align: center;
	background: white !important;
	color: black;
	display: none;
	box-shadow:2px 2px 	2px gainsboro;
}
.pull_down_ul li{
	box-sizing: border-box;
	border: solid 1px orange;
	background: white !important;
	border-top:none ;
	line-height: 35px !important;
}
.pull_down_ul li:hover{
	color: coral !important;
	background: lightgoldenrodyellow !important;
}
input:focus {
	outline: none;
}

/*------------------------------------------------------------------详细样式*/
body{
	margin: 0px;
	padding: 0px;
	border-top:solid 4px orange;
	background: #fcfcfc;
	height: 45px;
}
header{
	width: 1000px;
	margin: 0px auto;
	height: 45px;
	z-index: 1000;
	position: relative;
}
.H_tool{
	width: 1000px;
	margin: 0px auto;
}
.H_tool ul:first-child{
	float: left;
	margin: 0px;
	padding: 0px;
}
.H_tool ul:nth-child(2){
	float: right;
	margin: 0px;
	padding: 0px;
}
.H_tool li{
	float: left;
	line-height:45px ;
	text-align: center;
	cursor: pointer;
	font-size: 12px;
}
.H_tool > ul:first-child li{
	width: 100px;
}
.H_tool>ul:first-child>li>a{
	padding: 14px 20px;
}
.H_tool > ul li a:hover{
	color: orange;
}
.H_tool > ul:nth-child(2) li{
	width: 80px;
}
.H_tool>ul:nth-child(2)>li>a{
	padding: 14px 27px;
}
.H_tool>ul:nth-child(2)>li:nth-child(5)>a{
	padding: 14px 16px;
}
.H_tool li:hover{
	background: gainsboro;
}
.login_posi{
	position: relative;
}
.login{
	display: none;
	position: absolute;
	left: -150px;
	width: 500px;
	border: solid 1px orange;
	background: white;
	box-shadow:2px 2px 	2px gainsboro;
}
.login .login_left{
	width: 230px;
	float: left;
}
.img_weibo{
	display: none;
	position: absolute;
	top: 60px;
	left: 200px;
	z-index: 1;
	box-sizing: border-box;
	border: solid 1px gainsboro;
	
}
.login .login_right{
	float: left;
	width: 270px;
}
.login_right > div{
	border-left: solid 1px gainsboro;
}
.login_right{
	position: relative;
}
.login_right > span{
	position: absolute;
	right: 12px;
	top: -4px;
}
.login_right > div p{
	margin: -4px 0px;
}
.login_right > div input{
	padding: 4px 10px;
}
.login_right > div p:nth-child(3),.login_right > div p:nth-child(4){
	text-align: left;
	padding-left:40px ;
}
.login_right > div input[type="button"]{
	border: none;
	background: orange;
	color: white;
	margin: 0px;
	padding: 4px 14px;
	font-size: 12px;
}
.login_right > div input[type="radio"]{
	position: relative;
	top: 2px;
	margin-left:20px ;
}
.login_right p:last-child a{
	margin-right: 20px;
	color: burlywood;
}
.login_right p:last-child a:hover{
	margin-right: 20px;
	color: burlywood;
	text-decoration: underline;
}
._QQ{
	background: url(../img/qq.png) no-repeat 10px 0px;
	background-size: 20px;
	margin-left: 25px;
	line-height: 20px;
	text-align: left;
}	
._QQ a{
	padding-left: 40px;
	color: black !important;
}
._main{
	margin: 0px auto;
	width: 1000px;
}
.main_top_tool{
	margin-top: 10px;
}
.main_top_tool_left{
	display: inline-block;
}
.main_top_tool_left a{
	width: 180px;
	float: left;
}
.main_top_tool_left .search{
	/*width: 500px;*/
	float: left;
}
.main_top_tool_left .search p{
	border: solid 1px gainsboro;
	border-right: none ;
	border-radius:5px ;
}
.main_top_tool_left .search p> span{
	display: inline-block;
	padding: 0px 25px 0px 20px;
	background:url(../img/pull_down.png) no-repeat 60px 5px ;
	position: relative;
	cursor: pointer;
}
.search_classify{
	display: none;
	width: 81.7px;
	position: absolute;
	background: white;
	left: -1px;
	top: 130%;
	font-size: 14px;
	border: solid 1px gainsboro;
	border-top:none ;
	cursor: pointer;
	box-shadow:2px 2px 	2px gainsboro;
}
.search_classify span:first-child{
	margin-top:6px ;
}
.search_classify span{
	display: block;
	width: 100%;
	height: 40px;
	border-bottom: solid 1px gainsboro;
	overflow: hidden;
}
.search_classify span a{
	width: 100%;
	padding-left:20px ;
	line-height: 40px;
}
.search_classify span:hover{
	color: coral !important;
	background: lightgoldenrodyellow !important;
}
.main_top_tool_left .search p > font{
	position: relative;
}
.main_top_tool_left .search p > font input{
	padding: 10px;
	margin: 1px 0px;
	width: 200px;
	border: none;
	border-left: solid 1px gainsboro;
}
.search_reco{
	display: none;
	position: absolute;
	width: 225px;
	background: white;
	left: 0px;
	top: 155%;
	font-size: 14px;
	border: solid 1px gainsboro;
	border-top:none ;
	cursor: pointer;
	box-shadow:2px 2px 	2px gainsboro;
}
.search_reco span{
	display: block;
	width: 100%;
	height: 30px;
	overflow: hidden;
}
.search_reco span a{
	padding:4px 0px 4px 20px;
}
.search_reco>span:first-child{
	border-bottom: dashed 1px gainsboro;
}
.search_reco>span:last-child{
	border-top: dashed 1px gainsboro;
}
.main_top_tool_left .search p>input:last-child{
	width: 70px;
	height: 39px;
	background: orange url(../img/search.png) no-repeat 20px;
	background-size: 28px;
	vertical-align: bottom;
	border: none;
	border-left:solid 1px gainsboro ;
}
.weather_state{
	display: inline-block;
	margin-left: 20px;
}
.weather_state span{
	position: relative;
	top: -10px;
}
.main_top_tool_right{
	float: right;display: inline-block;
}
.main_top_tool_right div{
	float: right;
	margin-left: 10px;
}
.lunbo_ad{
	width: 150px;
	height: 60px;	
	border: solid 1px;
	overflow: hidden;
}
.lunbo_ad ul , .lunbo_ad ul li,.lunbo_ad ul li a{
	padding: 0px;
	margin: 0px;
}
.lunbo_ad ul li a{
	height: 0px;
}
.lunbo_ad ul li:first-child{
	/*margin-top: -20px;*/
}
