*{
	list-style: none;
}

/*-------------------------------------------------------------------------通用样式*/
body{
	margin: 0px;
	padding: 0px;
}
.FontColor:hover{
	color: orange;
}




/*------------------------------------------------------------------详细样式*/

header{
	border-top:solid 5px orange;
	background: ghostwhite;
	height: 50px;
}
.H_tool{
	width: 1000px;
	margin: 0px auto;
}
.H_tool ul:first-child{
	float: left;
	margin: 0px;
	padding: 0px;
}
.H_tool ul:nth-child(2){
	float: right;
	margin: 0px;
	padding: 0px;
}
.H_tool li{
	float: left;
	line-height:50px ;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
}
.H_tool ul:first-child li{
	width: 100px;
}
.H_tool ul:nth-child(2) li{
	width: 70px;
}
.H_tool li:hover{
	background: gainsboro;
}




