*{
	list-style: none;
}

/*-------------------------------------------------------------------------通用样式*/
body{
	margin: 0px;
	padding: 0px;
}
.a{
	text-decoration: none;
}
.a:hover
	text-decoration: underline;
}
.FontColor:hover{
	color: orange;
}
.pull_down_left{
	background: url(../img/pull_down.png) no-repeat 85px 15px;
}
.pull_down_left:hover{
	background:gainsboro url(../img/pull_down.png) no-repeat 85px 15px !important;
}
.pull_down_right{
	background:url(../img/pull_down.png) no-repeat 58px 15px ;
}
.pull_down_right:hover{
	background:gainsboro url(../img/pull_down.png) no-repeat 58px 15px !important;
}
.pull_down_ul{
	text-align: center;
	background: white;
	color: black;
	display: none;
}
.pull_down_ul li{
	box-sizing: border-box;
	border: solid 1px orange;
	border-top:none ;
	line-height: 35px !important;
}
.pull_down_ul li:hover{
	color: coral !important;
	background: lightgoldenrodyellow !important;
}
input:focus {
	outline: none;
}

/*------------------------------------------------------------------详细样式*/

header{
	border-top:solid 4px orange;
	background: #fcfcfc;
	height: 45px;
}
.H_tool{
	width: 1000px;
	margin: 0px auto;
}
.H_tool ul:first-child{
	float: left;
	margin: 0px;
	padding: 0px;
}
.H_tool ul:nth-child(2){
	float: right;
	margin: 0px;
	padding: 0px;
}
.H_tool li{
	float: left;
	line-height:45px ;
	text-align: center;
	cursor: pointer;
	font-size: 12px;
}
.H_tool > ul:first-child li{
	width: 100px;
}
.H_tool>ul:first-child>li>a{
	padding: 14px 20px;
}
.H_tool > ul li a:hover{
	color: orange;
}
.H_tool > ul:nth-child(2) li{
	width: 80px;
}
.H_tool>ul:nth-child(2)>li>a{
	padding: 14px 27px;
}
.H_tool>ul:nth-child(2)>li:nth-child(5)>a{
	padding: 14px 16px;
}
.H_tool li:hover{
	background: gainsboro;
}
.login_posi{
	position: relative;
}
.login{
	position: absolute;
	left: -150px;
	width: 500px;
	border: solid 1px orange;
}
.login .login_left{
	float: left;
	position: relative;
	width: 230px;
}
.img_weibo{
	position: absolute;
	top: 60px;
	left: 200px;
	z-index: 1;
	box-sizing: border-box;
	border: solid 1px gainsboro;
	box-shadow:  2px 2px 2px 1px ;
}
.login .login_right{
	float: left;
	width: 270px;
}
.login_right > div{
	border-left: solid 1px gainsboro;
}
.login_right{
	position: relative;
}
.login_right > span{
	position: absolute;
	right: 12px;
	top: -4px;
}
.login_right > div p{
	margin: -4px 0px;
}
.login_right > div input{
	padding: 4px 10px;
}
.login_right > div p:nth-child(3),.login_right > div p:nth-child(4){
	text-align: left;
	padding-left:40px ;
}
.login_right > div input[type="button"]{
	border: none;
	background: orange;
	color: white;
	margin: 0px;
	padding: 4px 14px;
	font-size: 12px;
}
.login_right > div input[type="radio"]{
	position: relative;
	top: 2px;
	margin-left:20px ;
}
.login_right p:last-child a{
	margin-right: 20px;
	color: burlywood;
}
.login_right p:last-child a:hover{
	margin-right: 20px;
	color: burlywood;
	text-decoration: underline;
}
._QQ{
	background: url(../img/qq.png) no-repeat 10px 0px;
	background-size: 20px;
	margin-left: 25px;
	line-height: 20px;
	text-align: left;
}	
._QQ a{
	padding-left: 40px;
	color: black !important;
}