*{
	padding: 0px;
	margin: 0px;
	list-style: none;
	font-size: 13px;
}
* a{
	text-decoration: none;
}
body{
	width: 100%;
	background: #fcfcfc;
}
header{
	border-bottom:solid 1px gainsboro ;
	box-shadow: 1px 0px 3px gainsboro;
}
footer{
	width: 1200px;
	margin: 20px auto;
	text-align: center;
}
footer li{
	display: inline-block;
	margin: 4px 6px;
}
footer li a{
	font-size: 12px;
	color: black;
}
footer li a:hover{
	color: orange;
}
footer p{
	font-size: 12px;
	margin: 10px 0px;
}
/*-----------------------------------------------------------------通用样式*/

/*checkbox样式自定义*/
label {
	font-size:12px;
	cursor:pointer;
	}
label i{
	font-size:12px;
	font-style:normal;
	display:inline-block;
	width:12px;
	height:12px;
	text-align:center;
	line-height:12px;
	color:#fff;
	vertical-align:middle;
	margin:-2px 2px 1px 0px;
	border:orange 1px solid;
}
input[type="checkbox"]{display:none;}
input[type="checkbox"]:checked + i{background:orange;}

.clear{
	clear: both;
	border: none !important;
}
/*----------------------------------------------------------------------登陆界面样式*/
.head_container{
	width: 1200px;
	margin: 0px auto;
	/*background: antiquewhite;*/
}
.head_container a:hover{
	color: orange;
}
.login_logo {
	float: left;
}
.login_logo img{
	padding: 15px 0px;
}
.login_head_right{
	float: right;
	padding: 10px 0px;
}
.login_head_right p{
	display: inline-block;
	float: left;
	margin: 0px 15px;
	color: gray;
}
.login_head_right>p>a{
	color: cornflowerblue;
}
.hd{
	float: left;
	display: block;
	width: 100px;
	text-align: center;
	position: relative;
	margin-left:25px ;
	z-index: 1001;
	border: solid 1px gainsboro;
}
.hd a{
	color: black;
}
.hd>a{
	line-height: 25px;
	padding-right:22px;
	padding-left:4px ;
	background: url(../img/turnb.png) no-repeat 80px;
}
.hd>a>span{
	width: 20px;
	height: 18px;
	padding: 0px 1px;
	vertical-align: middle;
	display: inline-block;
	background: url(../img/runbun.png) no-repeat 0px ;
}
.Hd_menu_list{
	width: 100px;
	text-align: left;
	display: none;
	position: absolute;
	z-index: 100;
	left: -1px;
	background: white;
	border: solid 1px gainsboro;
	border-top: none;
}
.Hd_menu_list li{
	padding-left:26px ;
	line-height: 25px;
	height: 25px;
	border-bottom: dotted 1px gainsboro;
}
.login_main{
	width: 1200px;
	margin: 30px auto;
}
.ad_pic{
	display: inline-block;
	float: left;
	margin:40px 40px 40px 110px;
}
.login_right{
	float: left;
	width: 410px;
	margin-left: 40px;
	display: inline-block;
	background: #ffffff;
	position: relative;
}
.login_container{
	width: 340px;
	margin: 0px auto;
	padding: 40px 0px 0px 0px;
}
.login_container>p{
	padding-bottom: 6px;
}
.login_container>p:first-child>span:first-child{
	font-weight: bold;
	font-size: 15px;
	color: gray;
}
.login_container>p>span:nth-child(2){
	float: right;
}
.login_container>div{
	width: 340px;
	line-height: 50px;
	border: solid 1px darkgrey;
	margin-bottom: 10px;
}
.login_container>div:nth-child(2){
	background: url(../img/userHead.png) no-repeat 16px 12px;
}
.login_container>div:nth-child(3){
	background: url(../img/i_pwd.png) no-repeat 16px 12px;
}
.login_container>div>input{
	line-height: 42px;
	margin-left: 60px;
	height: 42px;
	width: 280px;
	border: none;
	outline: none;
}
.login_container>p:nth-child(4){
	margin: 15px 0px;
	padding: 0px;
}
.login_tool_L{
	font-size: 12px;
	color: darkgrey;
	cursor: pointer;
}
.login_tool_R a{
	font-size: 12px;
	color: darkgrey;
}
.login_tip{
	margin-left: 10px;
	color: red;
	display: none;
}
.login_container>div:nth-child(5){
	border: none;
	text-align: center;
}
.login_container input[type="submit"]{
	margin: 0px;
	width: 340px;
	height: 50px;
	line-height: 50px;
	background: #ff3c3c;
	border-radius: 4px;
	color: white;
	font-size:16px ;
	cursor: pointer;
}
.login_container>div:nth-child(6){
	border: none;
}
.login_container>div:nth-child(6)>p{
	line-height: 20px;
	height: 20px;
	margin-top: 20px;
}
._cooperator{
	margin-top: 15px;
}
._cooperator_main{
	float: left;
}
._cooperator_main li{
	float: left;
	margin-right: 20px;
	height: 35px;
	line-height: 35px;
}
._cooperator>span{
	float: right;
	line-height: 35px;
	height: 35px;
	/*padding-right: 20px;*/
	cursor: pointer;
}
._cooperator>span img{
	padding: 0px 4px;
}
._cooperator_r{
	transform: rotateZ(180deg);
	-webkit-transform: rotateZ(180deg);
	-moz-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
}
._cooperator_sites li{
	float: left;
	width: 62px;
	padding-left: 23px;
	height: 35px;
}
._cooperator_sites li a{
	font-size: 12px;
	color: grey;
}
._cooperator_sites{
	display: none;
}
.change_model_1{
	position: absolute;
	bottom: -4px;
	right: 0px;
	cursor: pointer;
}
#_show_more{
	position: relative;
	z-index: 1000;
}

/*--------------------------------------------------注册界面样式*/
.register_container{
	width: 330px;
	margin: 40px auto 20px auto;
	text-align: center;
}
.register_container h3{
	font-size: 25px;
	margin: 20px;
}
.register_container>div{
	border: solid 1px gainsboro;
	text-align: left;
	border-radius:4px;
	margin-bottom: 10px;
	height: 50px;
	line-height: 50px;
	margin: 20px 0px;
	position: relative;
	padding-left: 20px;
}
.register_container>div>span{
	position: absolute;
	font-size:15px ;
	color: gray;
}
.register_container>div>input{
	width: 250px;
	border: none;
	height: 30px;
	line-height: 30px;
	outline: none;
	background: transparent;
}
/*多行弹出信息框*/
._info{
	display: none;
	width: 190px;
	position: absolute;
	left: 340px;
	top: -2px;
	background: url(../img/info_1.png) no-repeat 0px center;
}
._info p{
	width: 180px;
	padding:4px 0px 4px 15px ;
	line-height: 20px;
}
/*一行行弹出信息框*/
._info2{
	display: none;
	width: 190px;
	position: absolute;
	left: 340px;
	top: 12px;
	background: url(../img/info_1.png) no-repeat 0px center;
}
._info2 p{
	width: 180px;
	padding:4px 0px 4px 15px ;
	line-height: 20px;
}
/*一行弹出警告框*/
._warning{
	display: none;
	width: 140px;
	position: absolute;
	left: 340px;
	top: 12px;
	background: url(../img/info_2.png) no-repeat 0px center;
}
._warning p{
	width: 180px;
	line-height: 20px;
	padding:4px 0px 4px 15px ;
}
/*多行弹出警告框*/
._warning2{
	display: none;
	width: 190px;
	position: absolute;
	left: 340px;
	top: -2px;
	background: url(../img/info_2.png) no-repeat 0px center;
}
._warning2 p{
	width: 180px;
	line-height: 20px;
	padding:4px 0px 4px 15px ;
}
/*验证框*/
.V_code{
	width: 170px;
}
.V_code_txt{
	width: 160px !important;
}
.V_code_btn{
	position: absolute;
	display: inline-block;
	width: 128px !important;
	height: 50px !important;
	left: 200px;
	background-color: #57565f !important;
	color: white;
	font-size: 15px;
	border-radius:3px ;
}
.register_main{
	text-align: center;
	border-bottom: solid 1px gainsboro;
	box-shadow: 1px 0px 1px gainsboro;
}
.register_main>form>p{
	color: gray;
}
.register_main input[type="submit"]{
	margin: 20px auto 40px auto;
	width: 340px;
	height: 50px;
	font-size: 16px;
	background: #ff3c3c;
	color: white;
	border: none;
}
.bj_con{
	width: 900px;
	margin: 0px auto;
	position: relative;
}
.bj{
	position: absolute;
	z-index: -100;
	width: 900px;
	height: 500px;
	margin:  0px auto;
	top: 0px;
}
.bj>div{
	width: 900px;
	height: 500px;
	position: absolute;
	z-index: -100;
}
.bj_1{
	
	background: url(../img/reg_bj_1.png) no-repeat;
}
.bj_2{
	background: url(../img/reg_bj_2.png) no-repeat;
	display: none;
}
.bj_3{
	background: url(../img/reg_bj_3.png) no-repeat;
	display: none;
}
.bj_4{
	background: url(../img/reg_bj_4.png) no-repeat;
	display: none;
}
.bj_5{
	background: url(../img/reg_bj_5.png) no-repeat;
	display: none;
}